[Unit]
Description=Normally we'd use a systemd .mount but this is a direct port for now
Requires=wait-usb-storage.service
After=wait-usb-storage.service

[Service]
Type=oneshot
ExecStart=/bin/mount ${CARD_DEV} ${CARD_MOUNT_POINT}
EnvironmentFile=/opt/sd-card-reader-loop/.envrc
RemainAfterExit=yes
