[Unit]
Description=Wait for the SD-card-reader

[Service]
Type=oneshot
# lsusb will fail if this device is not found
Exec=/usr/bin/lsusb -d 8564:4000
# this service will attempt to run again
Restart=on-failure
RemainAfterExit=yes
